body {
  font-family: Arial, sans-serif;
  color: white;
  overflow-x: hidden;
  margin: 0;
  height: 100vh;
  position: relative;
  background: #000;
  animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7), rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5));
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  z-index: -1;
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  z-index: 1000;
}

nav .logo {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.key-system-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.key-box {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 60px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  animation: fadeInContent 2s ease-out 0.5s forwards;
  width: 350px;
}

@keyframes fadeInContent {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.key-title {
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 30px;
}

.key-button {
  padding: 20px 40px;
  background-color: #fff;
  color: #000;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.key-button:hover {
  background-color: #f1f1f1;
  transform: scale(1.1);
}

footer {
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
